@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
  --default-font-family: 'Noto Sans', sans-serif;
}

.container-max-w {
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

hr {
  border-color: var(--color-border);
}

input {
  outline: 0;
}
